<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="/uikit/css/uikit.min.css">
    <script src="/uikit/js/uikit.min.js"></script>
    <script src="/uikit/js/uikit-icons.min.js"></script>

    <title th:text="${movie.getTitle()}"></title>

    <style>
        p.movie-item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        p.movie-item > input, p.movie-item > textarea {
            flex: 1;
        }
    </style>
</head>
<body>
<th:block th:include="layout/navbar"></th:block>
<div class="uk-section">
    <div class="uk-container">
        <h1>Détails du film</h1>
        <form th:action="@{'/movies/' + ${movie.getId()}}" method="post" th:object="${movie}" class="form-grid">
            <p class="movie-item">
                <label for="genre">Genre</label>
                <input type="text" class="uk-input" name="genre" th:value="*{genre.getLabel()}" id="genre">
            </p>
            <p class="movie-item">
                <label for="year">Année</label>
                <input type="text" class="uk-input" name="year" th:field="*{year}" id="year">
            </p>
            <p class="movie-item">
                <label for="title">Titre</label>
                <input type="text" class="uk-input" name="title" th:field="*{title}" id="title">
            </p>
            <p class="movie-item">
                <label for="duration">Durée</label>
                <input type="number" class="uk-input" name="duration" th:field="*{duration}" id="duration">
            </p>
            <p class="movie-item">
                <label for="producer">Producteur</label>
                <input type="text" class="uk-input" name="producer" th:value="*{producer.getFullName()}" id="producer">
            </p>
            <p class="movie-item">
                <label for="actors">Acteurs</label>
                <select name="actors" id="actors" class="uk-select" multiple>
                    <option th:each="actor : *{actors}"
                            th:value="${actor.getId()}"
                            th:text="${actor.getFullName()}"></option>
                </select>
            </p>
            <p class="movie-item">
                <label for="synopsis">Synopsis</label>
                <textarea name="synopsis" id="synopsis" class="uk-textarea" th:text="*{synopsis}"></textarea>
            </p>
            <button type="submit" class="uk-button uk-button-default">Enregistrer</button>
        </form>

        <th:block th:if="${movie.reviews != null && !movie.reviews.isEmpty()}">
            <hr class="uk-divider-icon">
            <section id="reviews" class="uk-comment-list">
                <h3>Avis</h3>
                <th:block th:each="review : ${movie?.reviews}">
                    <th:block th:include="fragments/comment"></th:block>
                </th:block>
            </section>
        </th:block>

        <hr class="uk-divider-icon">
        <h4>Ajouter un avis</h4>
        <form action="/reviews" method="post" th:object="${'newReview'}">
            <input class="uk-input" type="hidden" name="_movieId" th:value="${movie.getId()}">
            <label class="uk-form-label" for="rating">Note</label>
            <input type="range" class="uk-range" th:field="${emptyReview.rating}" name="rating" id="rating" min="0"
                   max="5" step="1">
            <label class="uk-form-label" for="comment">Commentaire</label>
            <textarea th:field="${emptyReview.comment}" class="uk-textarea" name="comment" id="comment"
                      placeholder="Votre commentaire"></textarea>
            <button class="uk-margin-top uk-button uk-button-default" type="submit">Envoyer</button>
        </form>
    </div>
</div>
</body>
</html>
